	<p>
	  <label><%= l(:silencer_default_settings_label) %></label>
	  <%= check_box_tag 'settings[silencer_default]', '1', @settings['silencer_default'] %>
		<%= tag.p class: 'info' do %>
			<%= tag.em l(:warn_about_copying_issues) %>
		<% end %>
	</p>
	